* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

article {
    width: 300px;
    height: auto;
    background: white;
    border-radius: 16px;
    box-shadow: 0 0 10px gray;
    padding: 16px;
}

article :is(h3, p:nth-child(2)) {
    text-align: center;
    padding: 8px 16px;
}

article p {
    padding: 8px 16px;
}

article button {
    width: 100%;
    padding: 8px 16px;

    border: 3px solid dodgerblue;
    background: dodgerblue;
    color: white;
    font-weight: bold;
    border-radius: 4px;

    transition: all 0.3s;
    cursor: pointer;
    margin-top: 8px;
}

article button:hover {
    background: white;
    color: dodgerblue;
}