* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}

img {
    width: 100%;
    height: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.container .card {
    box-shadow: 0 0 10px gray;
    border-radius: 8px;
}
.container .card :is(h3, p) {
    text-align: center;
    padding: 8px 16px;
}

.container .card button {
    display: flex;
    margin: auto;
    padding: 8px 16px;
}

@media (max-width: 700px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

