* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}
label {
    cursor: pointer;
    font-weight: bold;
    background-color: green;
    color: white;
    width: 100%;
    padding: 8px 16px;
    display: block;
}
label:hover {
    background-color: rgb(3, 142, 3);
}
input {
    display: none;
}
input:checked ~ p {
    display: block;
}
p {
    display: none;
    padding: 8px 16px;
}

.faq {
    margin: 8px;
}

