* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-wrap: wrap;
}

.container .card {
    width: 300px;
    height: auto;
    transition: all 0.3s ease;
    box-shadow: 0 0 1px gray;
    margin: 12px;
    background: white;
}

.container .card:hover {
    transform: translateY(-10px);
}

.container .card :is(h3, p, button) {
    padding: 8px 16px;
    text-align: center;
    display: block;
    margin: auto;
}